<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        /* Custom CSS adjustments */
        main {
            min-height: 70vh; /* Set a minimum height of 80% of the viewport height */
            padding-top: 20px; /* Optional: Adjust padding to suit your design */
            padding-bottom: 20px; /* Optional: Adjust padding to suit your design */
        }

        @media (max-width: 768px) {
            main {
                min-height: 60vh; /* Adjust for smaller screens if needed */
            }
        }
    </style>
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1 class="display-4">Subscription Manager</h1>
            <nav class="nav nav-pills">
                <a class="nav-link text-white" href="/">Home</a>
                <a class="nav-link text-white" href="/subscriptions/">Subscriptions</a>
                <a class="nav-link text-white" href="/subscriptions/add/">Add Subscription</a>
                <a class="nav-link text-white" href="/accounts/">Accounts</a>
                <a class="nav-link text-white" href="/accounts/add/">Add Account</a>
                <a class="nav-link text-white" href="/user/">Next of kin</a>
                <a class="nav-link text-white" href="/user/edit/">Edit Next of kin</a>
            </nav>
        </div>
    </header>
    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; 2023 Subscription Manager</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
